<h1>Lets do this</h1>

<%= form_for @gifs do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :url %><br>
      <%= f.text_field :url %>
    </p>
    <%= f.submit "Create Gif" %>
<% end %>